h1{
    color: rgb(88, 173, 121);
    text-align: center;
}

.formulario{
    background-color: rgb(240, 138, 101);
    text-align: center;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#botonEnvio{
font-size: 30px;
background-color: rgb(11, 11, 17);
color: white;

}


td,th{
    border: solid 1px red;
    padding: 10px;
    text-align: center;
}

#tableFormat {
margin: 0 auto;
}